{% extends "base.html" %}
{% block content %}
    <!--Edit Page-->
    <section class="editPage">
        <form method="post" action="{% url "edit-album" pk=album.pk %}">
            {% csrf_token %}
            <fieldset>
                <legend>Edit Album</legend>
                <div class="container">

                    <!-- Form for Editing Album -->
                    {{ form }}

                    <!-- Button for Editing Album -->
                    <button class="edit-album" type="submit">Edit Album</button>
                </div>
            </fieldset>
        </form>
    </section>
{% endblock %}